// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #62a0ea !default;
$header-bg-color-secondary: #c061cb !default;

// Text
$section-headings-color: #c061cb !default;
$body-text-color: #241f31 !default;
$body-link-color: #62a0ea !default;
$blockquote-text-color: #241f31 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
